.grid {
    height: 4px;
    width: 4px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#gridContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: solid black;
    border-width: 2px;
}

#startGame {
    height: 25px;
    width: 100px;
    margin: 20px;
}

