.grid {
    height: 16px;
    width: 16px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gridContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#startGame {
    height: 25px;
    width: 100px;
}

